body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #d7d7d7, #bbb);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1;
}

.container {
  display: flex;
  background: white;
  width: 1000px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.sidebar {
  background: #1e81e2;
  color: white;
  width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 12px 0;
  font-size: 16px;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 40px;
}

h2 {
  margin: 20px 0 10px;
  color: #2f4bff;
}

.menu-profissional {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.menu-item {
  background: linear-gradient(-45deg, #aba50c, #c7c10c);
  color: white;
  text-align: center;
  padding: 60px 0;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  background: linear-gradient(-45deg, #c7c10c, #aba50c);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 16px;
}

.user-table th {
  background: #1e81e2;
  color: white;
  padding: 12px;
  text-align: left;
}

.user-table td {
  padding: 10px 12px;
  border-bottom: 1px solid #ccc;
}

.user-table tr:hover {
  background: #f3f7ff;
}

button.refresh-btn {
  background: #1e81e2;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button.refresh-btn:hover {
  background: #1558a8;
}

button.senha-btn {
  background: linear-gradient(-45deg, #ffa000, #ff8f00);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button.senha-btn:hover {
  background: linear-gradient(-45deg, #ff8f00, #ffa000);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.top-bar input {
  width: 250px;
  padding: 10px 14px;
  border: 2px solid #1e81e2;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.top-bar input:focus {
  border-color: #1558a8;
  box-shadow: 0 0 4px #1e81e2;
}
